@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-learn-physics {
  display: flex;
  flex-wrap: wrap;
  min-height: 92vh;

  &__sidebar {
    flex: 1;
    min-width: 200px;
    border-right: 1px solid $danger;
  }

  &__content {
    flex: 3;
    min-width: 320px;
    max-height: 92vh;
    overflow-y: scroll;
  }

  &__content::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &__content::-webkit-scrollbar-track {
    background: $light2;
  }

  /* Handle */
  &__content::-webkit-scrollbar-thumb {
    background: $primary;
  }
}
