<div class="pf-interactive">
  <div class="pf-interactive__header">
    <blockquote>
      <p>Below is an interactive example, that show how speed affects how fast the two race car moves.
        <br>Play around with the values below to and see the difference in the canvas.</p>
    </blockquote>
    <div class="pf-interactive__content">
      <h4 class="text-primary">Nascar 2019</h4>
      <div class="pf-interactive__car-setting">
        <div class="pf-interactive__car-content">
          <img src="./assets/img/speed/cars/1.png" alt="Car 1">
          <div>
            <p><b class="text-danger">Maxda rx8</b></p>
            <label>Speed: </label>&nbsp;
            <input type="number" name="car1Speed" min="0" max="100" *ngIf="(car1Speed$ | async) as car1Speed"
              class="form-control pf-interactive__speed-input" (change)="onCar1SpeedChange($event.target.value)"
              [value]="car1Speed"> km/h
          </div>
        </div>
        <div class="pf-interactive__car-content">
          <img src="./assets/img/speed/cars/2.png" alt="Car 1">
          <div>
            <p><b class="text-danger">Dodge Viper</b></p>
            <label>Speed: </label>&nbsp;
            <input type="number" name="car2Speed" min="0" max="100" *ngIf="(car2Speed$ | async) as car2Speed"
              class="form-control pf-interactive__speed-input" (change)="onCar2SpeedChange($event.target.value)"
              [value]="car2Speed">
            km/h
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pf-interactive__canvas-container" id="pfInteractiveCanvas"></div>
</div>
