@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-particle {
  padding: 20px;
  min-height: 400px;

  &__header {
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    min-height: 350px;
  }

  &__tasks {
    flex: 2;
    border: 1px solid $danger;
  }

  &__tasks-header {
    background-color: $danger;
    padding: 10px;
    color: $light;
    text-align: center;
  }

  &__content {
    flex: 5;
    min-height: 350px;
  }

  &__canvas-container {
    height: 100%;
  }
}
